.footer {
    min-height: 100px;
    position: relative;
    background: rgba(38, 0, 255, 0.342);
  }
  
  .footer span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 3px;
   
  }
  